backend/.env
backend/.env.database
frontend/.env
frontend/.env.*
backend/.npm-cache/
backend/node_modules/
frontend/node_modules/
frontend/build/
backend/dist/
frontend/dist/
backend/coverage/
frontend/coverage/
*.log
